.buildpath
.classpath
.project
.settings
target

deptree.txt
LSQ-SWDF-test.ttl

hs_err*
*.releaseBackup
outfile.ttl
out.ttl

# some file names for testing
a.nt
a.ttl
b.nt
b.ttl
c.nt
c.ttl
d.nt
d.ttl
outfile.ttl
deptree.txt

